@tailwind base;
@tailwind components;
@tailwind utilities;

.anim_gradient {
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  backgroundsize: "400% 400%";
}

.bg {
  background: url("./assets/hex-textured-background-networking.jpg");
}
